@import url("https://fonts.googleapis.com/css?family=Lato:wght@100;200;300;400;500;600;700;800&display=swap");

html, body {
  width:100%;
  height:100%;
  position: relative;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

html{
  background: url('https://source.unsplash.com/random/?@');
  background-size:cover;
}

main{
    width:100%;
    height:100%;
    max-width:1040px;
    max-height: 640px;
    display: flex;
    border: 10px solid white;
    border-radius: 10px;
    background: #eee;
    box-shadow: 5px 5px 25px rgba(100, 100, 100, .8);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaa;
    opacity: 1; /* Firefox */
}

h3, .h3 {
    color: #000;
    font-weight: bold;
    font-size: 0.9em;
    text-transform: uppercase;
}

.clickable{
    cursor: pointer;
    transition: all .2s ease;
}

.clickable:hover{
    transform: scale(1.1);
}

.clickable:active{
    transform: scale(0.8);
}

.clickablelink{
    cursor: pointer;
    transition: all .2s ease;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
}

.clickablelink:hover{
    text-decoration:underline;
}

.clickablelink:active{
    background: rgba(100, 100, 100, .3);
}

#browse-pane{
    flex: 1;
    height:100%;
    width: 100%;
    min-width: 0px;
    visibility: hidden;
}

#browse-zen{
    display: block;
    height:100%;
    width: 100%;
}

#browse-zen img{
    height:100%;
    width: 100%;
}

#browse-zen span{
    position: relative;
    bottom: 60px;
    left:20px;
    background: #fff;
}

#browse-home {
    background:#ddd;
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#browse-modes {
    flex:1;
    overflow-y: auto;
    padding: 20px;
    padding-top: 0px;
}


.browse-top-menu {
    padding:20px 20px;
    display: flex;
    flex-direction: row;
}

.browse-bottm-bar {
    display: flex;
    width: 100%;
}

.inner-center {
    text-align: center;
    margin: 0 auto;
    padding:15px
}

.random-albums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem 1.5%;
}

.browse-init-randomalbums img {
    flex: 23%;
    width: 23%;
    cursor: pointer;
    background:#f7f7f7;
}

.browse-init-randomalbums .placeholder {
    flex: 23%;
    width: 23%;
    cursor: pointer;
    background:#f7f7f7;
    text-align: center;
    display: flex;
}

.browse-init-randomalbums .placeholder span{
    margin: auto;
    width: 90%;
}

#search-bar {
    flex: 1;
    padding:10px 10px;
    border-radius: 6px;
    border: 0px;
    background-color: white;
}

.settings-inp{
    padding:6px 10px;
    border-radius: 3px;
    border: 0px;
    background-color: white;
    width: 90%;
}

.settings-butt2 {
    display: inline-block;
    padding:6px 10px;
    border-radius: 3px;
    border: 1px solid black;
    background-color: grey;
    color: white;
    cursor:pointer;
    margin-top:20px;
    text-align:center;
    position:relative;
}

.settings-butt{
    padding:6px 10px;
    border-radius: 3px;
    border: 1px solid black;
    background-color: grey;
    color: white;
    max-width: 30%;
    margin-left: 10px;
    cursor:pointer;
    text-align:center;
    position:relative;
}

.settings-err{
    font-size: 0.8em;
    color:red;
    margin-bottom: 5px;
}

.settings-subtext{
    margin-top: 0.8em;
    font-size: 0.8em;
    color:#666;
}

.settings-intro{
    margin-bottom:10px;
    max-width: 80%;
}

.randyversion {
  margin-top: 0.8em;
  font-size: 0.8em;
  color:#666;
}

.browse-top-menu-icon {
    vertical-align: middle;
    margin: 0px 10px;
}

.browse-top-back-icon{
    display: none;
    vertical-align: middle;
    font-size:2em;
    color:#cdc;
    margin-right:15px;
}

#browse-search-url {
    display: flex;
    padding: 10px;
    background: #fff;
    margin: 20px;
    margin-top: 0px;
    border-radius: 5px;
}

.browse-search-img img{
    flex: 50%;
    width:150px;
    padding-top: 10px;
}

.browse-search-x {
    cursor:pointer;
    margin-right: 15px;
    margin-bottom: 15px;
}

#browse-search-url .song-options {
    
}

#browse-search-url .song-options img {
    padding-right: 10px;
}

.browse-search-tit {
    padding: 20px;
    display: inline-grid;
}

.browse-search-tit .tit{
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.browse-search-tit .desc{
    font-size: 0.8em;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

#browse-init, #browse-search-results, #browse-files, #browse-stickies {
    color: #333;
}

.browse-init-sticky .seeall {
    float: right;
    color: blue;
    cursor: pointer;
    margin-bottom: 15px;
    font-weight: normal;
}

.search-result {
    display: flex;
    padding-bottom: 5px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-width: 0px;
}

.search-result-options {
    padding-left: 20px;
    vertical-align: middle;
}

.song-options {
    vertical-align: middle;
}

.search-result-options .song-options img {
    margin-left: 10px;
}

.browse-search-tit .search-result-options .song-options img {
    margin-right: 10px;
}

.search-result-name {
    flex:1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-result-path {
    margin-top: 5px;
    font-size: 0.6em;
    color: #aaa;
    display: block;
}

/* playlist-pane */

#playlist-pane {
    background:#f7f7f7;
    max-width: 400px;
    height:100%;
    display: flex;
    flex-direction: column;
}

#playlist-pane-top {
    width:100%;
    align-items: flex-start;
}

#top-icon-menu-mobile {
    display: none;
}

#top-icon-menu, #top-icon-menu-mobile img {
    float:left;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 25px;
}

#top-text {
    float:right;
    margin-top: 25px;
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
}

#playlist-pane-songlist {
    display: block;
    flex-grow: 1; 
    overflow-y: auto;
    justify-content:center;
    background-color: white;
}

.onesong {
    padding: 12px 30px;
    display: flex;
    align-items: center;
    color:#000;
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */     
}


.onesong-len {
    flex: 50px;
    overflow: hidden;
    text-align: right;
    font-size: 0.8em;
}

.onesong-sticky {
    flex: 20px;
    text-align: right;
}

.pos-sec{
    color:black;
    display:inline-block;
}

.pos-sec-tot{
    color:grey;
}

#devices .device{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background:white;
    border-radius: 10px;
    border: 1px #cccccc solid;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;
}

#devices .device .device-main {
    flex:80%;
}

#devices .device .device-main input{
    margin-top: 5px;
    background:#f7f7f7;
}

#devices .device .setit {
    flex:10%;
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
}

.onesong-details {
    
}

.onesong-tit {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.onesong-artist {
    font-size: 0.8em;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top:5px;
}

.onesong-info {
  font-size: 0.8em;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top:5px;
  color: #888;
}

.onesong-prevs {
    background:#f7f7f7;
}

.onesong-current {
    color: #000;
    background-color: #f3f3f3;
    border-bottom: 1px solid #eee;
    padding: 12px 30px;
}

.onesong-nexts {
    background:#fff;
}

.sortable-ghost {
    background: #eee;
}

.sortable-chosen {
    background: #efd;
}

.sortable-drag {
    background: #f7f7f7;
}

#playlist-pane-player {
  align-items: flex-end;
  padding-top: 25px; 
  background-color: #fff;   
}

#playlist-pane-player .control-panel {
  position: relative;
  width: 100%;
  height: 135px;
  z-index: 5;
  overflow: hidden;
  background-color: #fff;
}

#playlist-pane-player .control-panel .album-art {
  display: block;
  position: absolute;
  margin-top: 12px;
  height: 246px;
  width: 246px;
  border-radius: 50%;
  /*transition: all .5s ease;*/
  z-index: 6;
  background-position: top;
  background-color: lightgoldenrodyellow;
  background-repeat: no-repeat;
  background-size:246px 246px;
  background-image: url("../IMG/Record.png");
}

#playlist-pane-player .control-panel #seekdial{
    display: block;
    position: absolute;
    z-index: 5;
    overflow:hidden;
    width:270px;
    height:270px;
}
/*
#playlist-pane-player .control-panel.active .album-art {
  animation: rotation 3s infinite linear;
  -webkit-animation: rotation 3s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
#playlist-pane-player .control-panel .controls {
  display: flex;
  justify-content:center;
  height: 80px;
  padding: 0 15px;
}
#playlist-pane-player .control-panel .controls .prev,
#playlist-pane-player .control-panel .controls .play,
#playlist-pane-player .control-panel .controls .next {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 75px;
  cursor: pointer;
}
#playlist-pane-player .control-panel .controls .prev:hover,
#playlist-pane-player .control-panel .controls .play:hover,
#playlist-pane-player .control-panel .controls .next:hover {
  
}
#playlist-pane-player .control-panel .controls .prev {
  background-image: url('../IMG/Skip_Back.svg');
}
#playlist-pane-player .control-panel .controls .play {
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTguMS4xLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIzMi4xNTMgMjMyLjE1MyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjMyLjE1MyAyMzIuMTUzOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjEyOHB4IiBoZWlnaHQ9IjEyOHB4Ij4KPGcgaWQ9IlBsYXkiPgoJPHBhdGggc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkOyIgZD0iTTIwMy43OTEsOTkuNjI4TDQ5LjMwNywyLjI5NGMtNC41NjctMi43MTktMTAuMjM4LTIuMjY2LTE0LjUyMS0yLjI2NiAgIGMtMTcuMTMyLDAtMTcuMDU2LDEzLjIyNy0xNy4wNTYsMTYuNTc4djE5OC45NGMwLDIuODMzLTAuMDc1LDE2LjU3OSwxNy4wNTYsMTYuNTc5YzQuMjgzLDAsOS45NTUsMC40NTEsMTQuNTIxLTIuMjY3ICAgbDE1NC40ODMtOTcuMzMzYzEyLjY4LTcuNTQ1LDEwLjQ4OS0xNi40NDksMTAuNDg5LTE2LjQ0OVMyMTYuNDcxLDEwNy4xNzIsMjAzLjc5MSw5OS42Mjh6IiBmaWxsPSIjYzJjNmNmIi8+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);
}
#playlist-pane-player .control-panel .controls .next {
  background-image: url('../IMG/Skip_Forward.svg');
    margin-left: 280px;
}
#playlist-pane-player .control-panel.active .controls .play {
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTguMS4xLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDIzMi42NzkgMjMyLjY3OSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjMyLjY3OSAyMzIuNjc5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjEyOHB4IiBoZWlnaHQ9IjEyOHB4Ij4KPGcgaWQ9IlBhdXNlIj4KCTxwYXRoIHN0eWxlPSJmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDsiIGQ9Ik04MC41NDMsMEgzNS43OTdjLTkuODg1LDAtMTcuODk4LDguMDE0LTE3Ljg5OCwxNy44OTh2MTk2Ljg4MyAgIGMwLDkuODg1LDguMDEzLDE3Ljg5OCwxNy44OTgsMTcuODk4aDQ0Ljc0NmM5Ljg4NSwwLDE3Ljg5OC04LjAxMywxNy44OTgtMTcuODk4VjE3Ljg5OEM5OC40NCw4LjAxNCw5MC40MjcsMCw4MC41NDMsMHogTTE5Ni44ODIsMCAgIGgtNDQuNzQ2Yy05Ljg4NiwwLTE3Ljg5OSw4LjAxNC0xNy44OTksMTcuODk4djE5Ni44ODNjMCw5Ljg4NSw4LjAxMywxNy44OTgsMTcuODk5LDE3Ljg5OGg0NC43NDYgICBjOS44ODUsMCwxNy44OTgtOC4wMTMsMTcuODk4LTE3Ljg5OFYxNy44OThDMjE0Ljc4MSw4LjAxNCwyMDYuNzY3LDAsMTk2Ljg4MiwweiIgZmlsbD0iI2MyYzZjZiIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
}

/* Portrait */
@media only screen and (max-device-width: 1040px){
    main{
        width:100%;
        height:100%;
        display: flex;
        max-height: 100%;
        max-width: 100%;
    }
    
}
/* Portrait */
@media only screen and (max-device-width: 800px){
    html{
        background: #f7f7f7;
    }

    main{
        width:100%;
        height:100%;
        display: flex;
        max-height: 100%;
        max-width: 100%;
        border: 0px;
    }
    
    #browse-pane{
        height:100%;
        width: 100%;
        max-width: 100%;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    #playlist-pane {
        width: 100%;
        max-width: 100%;
        height:100%;
        display: flex;
        flex-direction: column;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    #browse-pane.mobilehideme{
        width:0px;
        max-width: 0%;
        display: none;
    }
    
    #playlist-pane.mobilehideme{
        width:0px;
        max-width: 0%;
        display: none;
    }
    
    .browse-top-back-icon{
        display: inline;  
    }

    #top-icon-menu {
        display: none;
    }

    #top-icon-menu-mobile {
        display: block;
    }
    
    #browse-search-url{
        display:block;
    }

    .browse-search-img img{
        padding-left:20px;
        flex: unset;
    }

}


#stickybutt {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  -webkit-animation-iteration-count: 2;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.pulse {
  animation: pulse 2s linear infinite;
}

#snackbar {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 10;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  #snackbar.showconsistant {
    visibility: visible;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  @keyframes pulse {
    0% {opacity: 1;}
    50% {opacity: 0.3;}
    100% {opacity: 1;}
  }

  /* search bar */

  #search {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    background: white;
    border-radius: 5px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width:100%;
  }
   
  #search:hover, #search:focus {
    background: #f7f7f7;
  }
  #search button,
  #search input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    font: inherit;
    outline: 0;
  }
  #search button {
    cursor: pointer;
    padding: 0 10px;
    padding-top: 2px;
  }

  #search input {
    -webkit-box-flex: 1;
    flex: 1;
  }

  #search .spinner {
    -webkit-animation: spinner 1s infinite linear;
            animation: spinner 1s infinite linear;
    display: none;
    padding: 0 10px;
    padding-top: 2px;
  }
   
  #search.loading button {
    display: none;
  }
  #search.loading .spinner {
    display: block;
  }
   
  .device .spinner {
    -webkit-animation: spinner 1s infinite linear;
            animation: spinner 1s infinite linear;
    display: none;
    padding: 0 10px;
    padding-top: 2px;
    text-align: right;
    float: right;
  }

  .device.loading .setit {
    display: none;
  }
  .device.loading .spinner {
    display: block;
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
   
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }